{% extends "frame.html" %}

{% block title %}
carrito
{% endblock%}

{% block content %}

{% if error %}
<script>
  showerror("{{error}}");
</script>
{% endif %}

<div class="princip">
  <h1 class="carrito_txt1"> FINALIZAR COMPRA </h1>
  <h2 class="carrito_txt2"> Importe total: {{total}} € </h2>
  <!-- <button>Añadir al carrito</button> -->
  <a href="{{ url_for('pagar',total=total) }}" class="fin_compra" id="fin_compra_detalles"><input type="button"
    value="Pagar" class="fin_compra"></a>
 
  {% for item in pelis_carro %}
  <div class="polaroid">
    <img src="../static/img/poster.jpg" class="polaroid_img">
    <h1 class="polaroid_txt">{{item.titulo}} </h1>
    <div class="header_polaroid">
      <p class="unidades">unidades: {{item.quantity}} </p>
      <a href="{{ url_for('anadircarrito', id=item.prod_id, next=1) }}" id="cantidad_boton"><input type="button" value="+"
        id="cantidad_boton"></a>
      <a href="{{ url_for('eliminarcarrito', id=item.prod_id) }}" id="cantidad_boton"><input type="button" value="-"
        id="cantidad_boton"></a>
     
    </div>
  </div>
  
  {% endfor %}



</div>


{% endblock %}