{% extends "frame.html" %}

{% block title %}
carrito
{% endblock%}

{% block content %}



<form action="{{ url_for('aumento_saldo') }}" method="POST" id="saldo_form">
  
  <div class="saldo_form">

    <h1>Historial de las compras realizadas:</h1>

    <div class="saldo">
      <p>Dispone de un saldo de: {{saldo}}€</p>
      <br>
      <p>Inserte una cantidada para aumentar su saldo: 
          <input type="number" value="" name="aumento_saldo"><span class="barra"></span>
          <button class="saldo_button" type="submit">Submit</button>
      </p>
      <br>
    </div>


    
    {% for item in compras %}

    <div class="compras_orderid">
        <br>
        <a class="order" href="#">Orderdate: {{item.orderdate}}</a> 
        <p class="p_historial">Orderid: {{item.orderid}}</p>
        

        <table class="detalles_compra" style="display:none">
            <tr>
                <th>Titulo</th>
                <th>Año</th>
                <th>Prcio</th>
            </tr>
        
        {% for pelis in item.pelis_compra%}

          <tr>
            <td>{{pelis.movietitle}}</td>
            <td>{{pelis.year}}</td>
            <td>{{pelis.price}}</td>
          </tr>

        {% endfor %}  
        <br>
        </table>

    </div>
    {% endfor %}
          

    


  </div>
</form>

{% endblock %}