{% extends "frame.html" %}

{% block title %}
principal
{% endblock%}

{% block content %}

{% if error %}
    <script>
        showerror("{{error}}");
    </script>
{% endif %}

<form action="{{ url_for('busqueda') }}" , method="POST" , id="form">

    <!-- busqueda y filtros -->
    <div id="princip_form" class="form">

        <input type="text" name="buscar" placeholder="Busqueda" class="input1"><span class="barra"></span>

        <select name="filtro" id="filtro" class="princip_filtro">
            <option class="princip_filtro" value=""></option>
            {% for item in genres %}
                <option class="princip_filtro" value={{item.genreid}}>{{item.genre}}</option>
            {% endfor %}
        </select>

        <button id="princip_button" type="submit">Buscar</button>

        

    </div>

    <!-- topSales -->
    <hr> <div class="topSales">
        <h1> Películas más vendidas </h1>
        <br>
        {% for item in topSales %}
        
        <p> {{item.year}}: {{item.film}} - {{item.sales}} ventas</p>
        {% endfor %}

    </div> <hr>

    <!-- imprimir los posters con su fondo y titulo -->
    {% for item in movies %}
    <a href="{{ url_for('pelicula', id=item.prod_id) }}">
        <div class="polaroid">
            <img src="../static/img/poster.jpg" class="polaroid_img">
            <h1 class="polaroid_txt">{{item.title}} </h1>
        </div>
    </a>
    {% endfor %}

    



</form>


{% endblock %}