/* GENERAL */
* {
  margin: 0;
}
html, body {
  height: 100%;
  overflow: hidden;
}


/************************ FRAME ************************/


iframe{
  /* tamano */
  height: 100%;
  width: 100%;
}

/*** HEADER ***/
header {
  /* fondo */
  background-color:rgb(255,212,201);
  height: 14%;
  /* texto */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7e5f;
  font-size: 130%;
  font-family:"Roboto";
}

/*** ICONO DE USUARIO ***/
#usuario {
	position: fixed;
  right: 30px;
	float: right;
	max-height: 40px;
}


/*** ICONO CARRITO ***/
#carrito {
  position: fixed;
  right: 90px;
	float: right;
	max-height: 40px;
}


/*** MENU ***/
.menu {
  /* fondo */
  height: 81%;
  position: absolute;
  bottom: 5%;
  width:15%;
  background-color: rgb(198,229,177);
  /* texto */
  display: flex;
  justify-content: center;
  align-items: stretch;
}


/*** NAV DEL MENU ***/
nav {
  position: sticky;
	font-size: 20px;;
	font-family: "Roboto";
	text-align: left;
  padding-right: 70px;
  padding-top: 10px;
 

}

a{
  color: #b1472d;
}



/*** FOOTER ***/
footer {
  /* fondo */
  height: 5%;
  position: absolute;
  bottom: 0%;
  width:100%;
  background-color: rgb(255,212,201);
  /* texto */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  font-family:"Helvetica";
}

/************************ PRINCIPAL ************************/

.princip {
  /* fondo */
  height: 81%;
  position: absolute;
  bottom: 5%;
  margin-left: 15%;
  width:85%;
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  /* disposicion */
  /* display: flex; */
  overflow-y: scroll;
}

.princip_cabecera{
  background: #fff;
  padding: 2% 1%;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 90%;
  height: 6%;
  margin: 40px auto;

}

.princip_busqueda {
  margin: 0.5% ;
  position: relative;
  width: 40%;
  float: left;
}

.princip_filtro {
  position: relative;
  
}

.princip_button{
  font-family: 'roboto';
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display: block;
  width: 15%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  
}

div.polaroid {
  
  width: 20%;
  height: 60%;
  border-radius: 3%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 4%;
  margin-left: 10%;
  margin-bottom: 3%;
  float: left;
  text-align: center;

}

.polaroid_img{
  width: 90%;
  height: 80%;
  border-radius: 3%;
  margin-top: 5%;
}

.polaroid_txt{
  margin-top: 3%;
  font-size: 150%;
  font-family:"Roboto";
  color: #b1472d;

}

/************************ PELICULA ************************/

.peli_poster{
  width: 25%;
  height: 68%;
  margin-top: 4%;
  margin-left: 4%;
  border-radius: 3%;
  position:fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.peli_form{
  background: #fff;
  padding: 50px 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 50%;
  margin-left: 41%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow-y: scroll;
  overflow-y: sticky;
}

.peli_info{

  margin-right: 4%;
  margin-top: 2%;
  font-family: 'roboto';
  font-size: 150%;
}

.peli_actor{

  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  width:35%;
  height:50%;
  float: left;
}

.peli_act_info {
  text-align: center;
  font-family: 'roboto';
}

.peli_actor_foto{
  width:90%;
  height:90%;
  border-radius: 3%;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);

}








/************************** FORM DEL INICIO DE SESION *****************************************/
form{overflow-y: scroll;
  font-family: 'Roboto';
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 82%;
  position: absolute;
  bottom: 4%;
  margin-left: 15%;
  width:85%;
}

h1{
  text-align: center;
  position: relative;
  font-weight: 700;
}

.form{
  background: #fff;
  padding: 50px 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  width: 50%;
  margin: 40px auto;
}

form .grupo{
  position: relative;
  margin: 45px ;
}

/********************* Para la barra de fortaleza ***************************/

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  position: relative;
  margin: 45px ;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  transition: width 0.6s ease;
  background-color: green;
}


/********************** Fin barra fortaleza ****************************/

input{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #49454567;
}

input:focus{ 
  outline: none;
  color: #5e5d5d;
}

label{
  color: #49454567;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 12px;
  color: black; 
}

.barra{
  position: relative;
  display: block;
  width: 100%;
}

.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  transition: 0.3s ease width;
  left: 0;
}

input:focus~.barra::before{
  width: 100%;
}


button{
  font-family: 'roboto';
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width:500px){
  form{
      width: 80%;
  }
}