

table{
    width:100%;
    margin-bottom:1rem;
    border-collapse: collapse;
   
}


td, th{
    text-align: center;
    border: 1px solid;
}

.title{
    align-items: center;
    font-size: 190%;
    font-family: "Roboto";
}