<!DOCTYPE html>
<html>

<head>
    <title> Acceso</title>
    <link rel="stylesheet" type="text/css" href="../static/css/si1.css">
    
</head>

<body> 
    <iframe src="{{ url_for('frame') }}"></iframe>
    <form action="" method="POST" id="form">
        <div class="form">
            <h1>Inicio sesión</h1>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div>
            <div class="grupo">
                <input type="password" name="" id="name" required><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>

            <button type="submit">Log in</button>
        </div>
    </form>


</body>
</html>
