{% extends "frame.html" %}

{% block title %}
carrito
{% endblock%}

{% block content %}

<form action="{{ url_for('registro') }}" method="POST">
  <h1 class="carrito_txt"> FINALIZAR COMPRA </h1>
  <!-- <button>Añadir al carrito</button> -->
  <a href="{{ url_for('principal') }}" class="fin_compra" id="fin_compra_detalles"><input type="button" value="Pagar" class="fin_compra"></a>

  <!-- imprimir los posters con su fondo y titulo -->
  {% for item in movies %}
  <div class="polaroid">

      <img src="{{url_for('static', filename=item.poster)}}" class="polaroid_img">
      <h1 class="polaroid_txt">{{item.titulo}} </h1>
      <a href="{{ url_for('eliminarcarrito', id=item.id) }}" class="eliminar_boton"><input type="button" value="eliminar" class="eliminar_txt"></a>
  </div>
  
  {% endfor %}

      


</form>


{% endblock %}