{% extends "frame.html" %}

{% block title %}
carrito
{% endblock%}

{% block content %}
    <!-- <h1 class="center"> La Fantastica Tienda de Peliculas </h1>
    <h2>elena y paula te ofrecen esta seleccion de dvds</h2>

    <input type="search" name="buscador" placeholder="Titulo">
    <input type="submit" value="Buscar">

    <select name="filtro" id="filtro">
        <option value="a"> </option>
        <option value="b">Miedo</option>
        <option value="c">Amor</option>
        <option value="d">Misterio</option>
      </select>

    <p> aqui deberian estar las pelis </p>
    <p> ay hace falta un carrito </p> -->


{% endblock %}