<!DOCTYPE html>
<html lang="en">




<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/si1.css">

</head>


<body> 

    <header> 
        {% if session['usuario'] %}
            <p class="saludo">Hola, {{session['usuario']}}!</p>
        {% endif %}
        <h1> LA MARAVILLOSA TIENDA DE PELICULAS </h1>

        {% if not session['usuario'] %}
        <a  href="{{ url_for('showacceso') }}"><img id="img_carrito" alt="Error" src="../static/img/carrito.png"></a> 
        <a  href="{{ url_for('showacceso') }}"><img id="img_usuario" alt="Error" src="../static/img/usu.png"></a>
        {% else %}
        <a href="{{ url_for('carrito') }}"><img id="img_carrito" alt="Error" src="../static/img/carrito.png"></a> 
        <a href="{{ url_for('principal') }}"><img id="img_usuario" alt="Error" src="../static/img/usu.png"></a>
        {% endif %}

    </header>

    <div class="menu"> 
        <nav>
            <ul>
              <br>
              <li><a href="{{ url_for('principal') }}">Página principal</a></li>
              <br>
              
              {% if not session['usuario'] %}
                <li><a href="{{ url_for('showacceso') }}">Inicio sesión</a></li>
                <br>
                <li><a href="{{ url_for('showregistro') }}">Regístrate</a></li>
              {% else %}
                <li><a href="#">Historial de compras</a></li>
                <br>
                <li><a href="{{ url_for('logout') }}">Salir</a></li>
              {% endif %}

            </ul>
          </nav>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content%} {% endblock %}



    <footer> 
        <p> Copyright © Maravillosas </p>
    </div>

    



</body>
</html>
