<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/si1.css">

</head>

<body> 

    <header> 
        <h1> LA MARAVILLOSA TIENDA DE PELICULAS </h1>
        <img id="carrito" alt="Error" src="../static/img/carrito.png"></a> 
        <img id="usuario" alt="Error" src="../static/img/usu.png"></a>
    </header>

    <div class="menu"> 
        <nav>
            <ul>
              <br>
              <li><a href="{{ url_for('principal') }}">Página principal</a></li>
              <br>
              <li><a href="#">Historial de compras</a></li>
              <br>
              <li><a href="{{ url_for('acceso') }}">Inicio sesión</a></li>
              <br>
              <li><a href="{{ url_for('registro') }}">Regístrate</a></li>
            </ul>
          </nav>
    </div>

    {% block content%} {% endblock %}



    <footer> 
        <p> Copyright © Elena&Paula </p>
    </div>

    



</body>
</html>
