{% extends "frame.html" %}

{% block title %}
carrito
{% endblock%}

{% block content %}


<form action="{{ url_for('aumento_saldo') }}" method="POST" id="saldo_form">
  
  <div class="saldo_form">

    <!-- <p class="caption">Historial de las compras realizadas</p> -->

    <table class="content-table" id="content-table">
      <caption>Historial de las compras realizadas:</caption>

      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Valoracion</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>


      <tbody>

        {% for item in movies %}
        <tr>
          <th scope="row">{{item.titulo}}</th>
          <td>{{item.categoria}}</td>
          <td>{{item.valoracion_media}}</td>
          <td>{{item.precio}}</td>
        </tr>
        {% endfor %}


      </tbody>


      <!-- <tfoot>
        <tr>
          <th scope="row" colspan="3">Precio total:</th>
          <td colspan="3"><span class="total">
            <script type="text/javascript" src="../static/javascript/suma.js"></script>
          </td>
        </tr>
      </tfoot> -->


    </table>

    
    <div class="saldo">
        <p>Dispone de un saldo de: {{saldo}}€</p>
        <br>
        <p>Inserte una cantidada para aumentar su saldo: 
            <input type="number" value="" name="aumento_saldo"><span class="barra"></span>
            <button class="saldo_button" type="submit">Submit</button>
        </p>
        
    </div>


  </div>
</form>

{% endblock %}