{% extends "frame.html" %}

{% block title %}
carrito
{% endblock%}

{% block content %}

<div class="princip">
  <table summary="Los grupos de música punk más famosos del Reino Unido">
    <caption>Un resumen de los grupos de música punk más famosos del Reino Unido</caption>
    <br>

    <thead>
      <tr>
        <th scope="col">Grupo</th>
        <th scope="col">Año de formación</th>
        <th scope="col">Número de álbumes</th>
        <th scope="col">Canción más conocida</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Buzzcocks</th>
        <td>1976</td>
        <td>9</td>
        <td>Ever fallen in love (with someone you shouldn't've)</td>
      </tr>
      <tr>
        <th scope="row">The Clash</th>
        <td>1976</td>
        <td>6</td>
        <td>London Calling</td>
      </tr>
      <tr>
        <th scope="row">The Stranglers</th>
        <td>1974</td>
        <td>17</td>
        <td>No More Heroes</td>
      </tr>
    </tbody>


    <tfoot>
      <tr>
        <th scope="row" colspan="2">Número total de álbumes</th>
        <td colspan="2">77</td>
      </tr>
    </tfoot>


  </table>
</div>

{% endblock %}