<!DOCTYPE html>
<html>

<head>
    <title> La Fantastica Tienda de Peliculas </title>
    <link rel="stylesheet" type="text/css" href="../static/css/si1.css">
    
</head>

<body> 
    <iframe src="{{ url_for('frame') }}"></iframe>
    <!-- <h1 class="center"> La Fantastica Tienda de Peliculas </h1>
    <h2>elena y paula te ofrecen esta seleccion de dvds</h2>

    <input type="search" name="buscador" placeholder="Titulo">
    <input type="submit" value="Buscar">

    <select name="filtro" id="filtro">
        <option value="a"> </option>
        <option value="b">Miedo</option>
        <option value="c">Amor</option>
        <option value="d">Misterio</option>
      </select>

    <p> aqui deberian estar las pelis </p>
    <p> ay hace falta un carrito </p> -->


</body>
</html>