<!DOCTYPE html>
<html>

<head>
    <title> La Fantastica Tienda de Peliculas </title>
    <link rel="stylesheet" type="text/css" href="../static/css/si1.css">
    
</head>

<body> 
    <iframe src="{{ url_for('frame') }}"></iframe>

    <div class="princip"> 

        <div class="princip_cabecera">

            <h1>Elena y Paula te ofrecen esta exquisita colección </h1>

            <div class="princip_busqueda">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Búsqueda</label>
            </div>

            <!-- <div class="princip_filtro">

                <input type="search" name="buscador" placeholder="Titulo">
            
                <select name="filtro" id="filtro">
                    <option value="a"> </option>
                    <option value="b">Miedo</option>
                    <option value="c">Amor</option>
                    <option value="d">Misterio</option>
                </select>

                
            </div> -->

            <button type="submit">Buscar</button>

        </div>
        
        <!-- imprimir los posters con su fondo y titulo -->
        {% for item in movies %}  
        <div class="polaroid">
        <img src="{{url_for('static', filename=item.poster)}}" class="polaroid_img" >
        <h1 class="polaroid_txt"> {{item.titulo}} </h1>
        </div>
        {% endfor %}

    </div>




</body>
</html>