{% extends "frame.html" %}

{% block title %}
principal
{% endblock%}

{% block content %}

    <div class="princip"> 

        <div class="princip_cabecera">

            <div class="princip_busqueda">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Búsqueda</label>
            </div>

            <!-- <div class="princip_filtro">

                <input type="search" name="buscador" placeholder="Titulo">
            
                <select name="filtro" id="filtro">
                    <option value="a"> </option>
                    <option value="b">Miedo</option>
                    <option value="c">Amor</option>
                    <option value="d">Misterio</option>
                </select>

                
            </div> -->

            <button class="princip_button" type="submit">Buscar</button>

        </div>
        
        <!-- imprimir los posters con su fondo y titulo -->
        {% for item in movies %}  
        <div class="polaroid">
        <img src="{{url_for('static', filename=item.poster)}}" class="polaroid_img" >
        <a href="{{ url_for('pelicula') }}" class="polaroid_txt">{{item.titulo}} </a>
        </div>
        {% endfor %}

    </div>
{% endblock %}