<!DOCTYPE html>
<html>

<head>
    <title> La Fantastica Tienda de Peliculas </title>
    <link rel="stylesheet" type="text/css" href="../static/css/si1.css">
    
</head>

<body> 
    <iframe src="{{ url_for('frame') }}"></iframe>

    <div class="princip"> 

        <h1 class="princip_title">Elena y Paula te ofrecen esta exquisita colección </h1>
        
        <!-- imprimir los posters con su fondo y titulo -->
        {% for item in movies %}  
        <div class="polaroid">
        <img src="{{url_for('static', filename=item.poster)}}" class="polaroid_img" >
        <h1 class="polaroid_txt"> {{item.titulo}} </h1>
        </div>
        {% endfor %}

    </div>




</body>
</html>